
.titles {
    background-color: #ffffff;
    height: 65px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.titles p {
    margin-left: 15px;
    font-weight: 700;
}

.riscado /*esqueci isso em inglÊs, desculpa*/ {
    text-decoration: line-through;
}

.red {
    color: #FF3030;
}


.orange {
    color: #FF922E;
}

.green {
    color: #2FBE34;
}

ion-icon[name="close-circle"] {
    color: #FF3030;
}

ion-icon[name="help-circle"] {
    color: #FF922E;
}

ion-icon[name="checkmark-circle"] {
    color: #2FBE34;
}

.titles ion-icon {
    font-size: 30px;
    margin-right: 15px;
}

.answers {
    transition: all 5s;
    background-color: #FFFFD4;
    min-height: 135px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    position: relative;

}

.questions {
    transition: all 5s;
    transition-delay: 2s;
    background-color: #FFFFD4;
    min-height: 135px;
    width: 80%;
    display: flex;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    position: relative;
}

.questions p,
.answers p {
    margin: 10px 20px;
}

.questions img {
    position: absolute;
    right: 3%;
    bottom: 10%;
    cursor: pointer;
}

.options {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14.4px;
    font-weight: 400;
}

.options .redOption{
    width: 85px;
    height: 37px;
    background-color: #FF3030;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.options .orangeOption{
    min-width: 85px;
    height: 37px;
    background-color: #FF922E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.options .greenOption{
    width: 85px;
    height: 37px;
    background-color: #2FBE34;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}



.hidden {
    display: none;
}